* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #111;
    box-sizing: border-box;
}

h1 {
	color: #add8e6;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 0.5rem 0 3rem; 
	font-family: 'Hind', sans-serif;
}

.title{
	color: orange;
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.5rem;
	border-botbackground: ;tom: 4px solid#f3f;
	margin-bottom: 1.5rem;
	backround: #3A3B3C;
}

.item_input{
	background: #3A3B3C;
	outline: none;
	text-align: center;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}

.edit{
	background: #00FF00;
	outline: none;
	border: none;
	color: white;
	font-size: 1.4rem;
	font-family:  serif;
	margin: 0 0.5rem;
	cursor: pointer;
}

.remove{
	background: #ff0000;
	outline: none;
	border: #ff0000;
	text-align: center;
	color: #ffffff;
	font-size: 1.4rem;
	font-family: Serif;
	cursor: pointer;
}
